a
{
	text-decoration: none;
}
body
{
	margin: 0px;
}
li
{
	display: inline-block;
}
.
.head
{
	background-color: #006BB7;
	width: 100%;
	height: 101px;
}
.head2
{
	width: 1000px;
	height: 100px;
	margin: auto;
}
.head1-1
{
	float: left;
	padding: 10px;
}
.tp1
{
	border-radius: 8px;
}
.head1-0
{
	float: left;
}
.head1-3
{
	float: left;
	margin-top:30px;
}
.head3
{
	width: 100%;
	background-color: #006BB7;
	float: left;
	margin-top: 0px;
	padding-left: 345px;
	
}
li a
{
	margin: auto;
	display: block;
	width: 100px;
	color: aliceblue;
	font-weight: 900;
}
ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
	width:200px;
}
