.head
{
	width: 100%;
	background-color: cornflowerblue;
	margin: auto;
}
.boby_1
{
	width: 1000px;
	margin: 0px auto;
	height: 500px;
	padding:0px;
	background-color: aquamarine;
}
.boby_1_1
{
	width: 660px;
	padding: 20px;
	margin:10px;
	float: left;
	display: inline;
}
.boby_1_2
{
	width: 100px;
	background-color: darkorange;
	display: inline;
	height: 100px;
}
.ul-1
{
	background-color: bisque;
	width: 200px;
	float: right;
	margin:17px;
	border-top:solid brown ;
	border:ridge;
	border-color: azure;
	color: #FF8C00;
	height: 400px;
}
.ul-1:hover
{
	color: chocolate;
}
.t1
{
	border-radius: 8px;
}
.boby_3
{
	width: 1000px;
	margin: auto;
	background-color: aquamarine;
}
.boby4
{
	width: 1360px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	padding: 60px;
	padding-top: 0px;
	height: 1800px;
	background-color: #7FFFD4;
	float: left;
	
}
.boby_4_2
{
	background-color: darkturquoise;
	width:600px;
	margin:  0 px 80px;
	height: 100%;
	float:left;
	border-top: dotted;
	border-width:10px ;
}
.boby_4_1
{
	width:600px;
	margin:  0px 80px;
	height: 100%;
	background-color: #FFE4C4;
	float: right;
	border-top: double greenyellow;
	border-width: 10px;
}
<a>
{
	text-decoration: none;
}
.boby_4_1-1
{
	background-color: #A52A2A;
	width: 500px;
	margin: auto;
	border-radius: 8px;
}
.boby_4_2-1
{
	background-color: blueviolet;
	width: 500px;
	margin: auto;
	border-radius: 8px;
}
a
{
	text-decoration: none;
}
.boby_4_2-2
{
	width: 500px;
	margin: auto;
	float: none;
}
.boby_4_1-2
{
	width: 500px;
	margin: auto;
	float: none;
}
.boby_4_1-3
{
	width: 500px;
	margin: auto;
	float: none;
	background-color: #F0FFFF;
}
.boby_4_2-3
{
	width: 500px;
	margin: auto;
	background-color: #FF8C00;
}
.boby_4_2-
{
	border: crimson;
	border-width: 8px;
}
.boby_4_2--3
{
	width: 500px;
	margin: auto;
	float: none;
	background-color: #FF8C00;
}
.boby_4_2--
{
	border: medium  cornflowerblue;
	border-width: 8px;
	padding: 30px;
	margin-top: 50px;
}
.boby_4_2--2
{
	width: 500px;
	margin: auto;
	float: none;
	background-color: #F0FFFF;
}
.boby_4_2-4
{
	border-radius: 8px;
	background-image: url(../img/1571399364498.jpg);width: 500px;
	margin: auto;
	float: none;
	width: 500px;
	margin-top: 100px;
}
.boby_4-
{
	width:600px;
	margin:  0px 100px;
	height:10px;
	background-color: #FFE4C4;
	float: right;
	border-top: double greenyellow;
	border-width: 10px;
}
.box1-1
{
	width: 500px;
	margin: auto;
	float: none;
}
.box1-2
{
	width: 500px;
	margin: auto;
	float: none;
	background-color: #F0FFFF;
}
.box1
{
	border: groove cyan;
	border-width: 8px;
}
.box2
{
	border: double fuchsia;
	width: 581px;
	margin: auto;
	float: none;
	margin-top: 20px;
	border-width: 8px;
}
.box2-1
{
	width: 500px;
	margin: auto;
	float: none;
}
.box3
{
	width: 500px;
	border: solid  aqua;
	border-width: 8px;
	margin: auto;
	margin-top: 20px;
	padding: 42px;
}
a
{
	color:  #FF8C00;
	width:100%;
}
a:hover
{
	color: #DC143C;
}
.box4
{
	margin-top: 1880px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.box4_1
{
	width: 290px;
	height: 100%;
	float: left;
	margin: 10px;
	border-color: fuchsia;
}
.box4_2
{
	width: 290px;
	height: 100%;
	float: left;
	margin: 10px;
	border-color: coral;
}
.box4_3
{
	width: 290px;
	height: 100%;
	float: left;
	margin: 10px;
	border-color: #8A2BE2;
}
.box4_2-2
{
	border-radius: 8px;
	background-color: coral;
}
.box4_2-1
{
	width: 250px;
	margin: auto;
	float: none;
}
.box4_3-1
{
	width: 250px;
	margin: auto;
	float: none;
}
.box4_3-2
{
	border-radius: 8px;
	background-color: blueviolet;
}
.box4_1-2
{
	border-radius: 8px;
	background-color: fuchsia;
}
.box4_1-1
{
	width: 250px;
	margin: auto;
	float: none;
}
.box4-head
{
	width: 100%;
	background-color: #8A2BE2;
	border-radius: 8px;
}
.box4-5
{
	margin: auto;
	padding: 30px;
	float: none;
}
.box4-6
{
	margin: auto;
	padding: 30px;
	float: none;
}
.box4-7
{
	margin: auto;
	padding: 30px;
	float: none;
}
.last
{
	margin-top: auto;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFE4C4;
}
